# Ignore virtual environment
venv/

# Ignore all files in data except airports.csv and readme.txt
data/*
!data/airports.csv
!data/readme.txt

# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.idea/
.vscode/
config/